* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("./img/black-canyon-f1a1d991.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-list {
  position: absolute;
  height: 25pc;
  width: 33%;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  backdrop-filter: blur(5px);
  box-shadow: 55px;
}
#control-section {
  /* min-height: 20vh; */
  display: flex;
  /* justify-content: center; */
  /* align-items: center;
  align-content: flex-start; */
}
input {
  height: 2vh;
  width: 85%;
  margin: 1% auto;
  top: 25px;
  right: 0;
  left: 0;
  outline: none;
  border: none;
  padding: 20px;
  padding-right: 50px;
}

select {
  height: 2vh;
  width: 30%;
  margin: 1% auto;
  top: 25px;
  right: 0;
  left: 0;
  outline: none;
  border: none;
  padding: 20px;
  padding-right: 50px;
}
.button {
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}
span {
  font-size: 1rem;
  color: white;
  text-align: center;
  /* position:inherit */
  align-items: center;
  justify-content: center;
}
#view-section {
  position: inherit;
  height: 75%;
  width: 100%;
  margin: auto;
  right: 0;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
#view-section::-webkit-scrollbar {
  -webkit-appearance: none;
  appearance: none;
}
.todo-container {
  display: flex;
  height: fit-content;
  transition: 0.2s;
  margin: 5%;
  padding: 1%;
  background: #fff;
  cursor: pointer;
  z-index: 4;
  border-radius: 2px;
  word-wrap: break-word;
  justify-content: space-between;
  align-items: center;
}

.todo-container:hover {
  transform: scale(1.1);
}
.todo-text,
.todo-created-at,
.todo-priority {
  flex: 1;
}
.trash-btn,
.complete-btn,
#add-button,
#sort-button {
  background: #6d6d6d;
  color: white;
  border: none;
  padding: 1% 1%;
  cursor: pointer;
  font-size: 1rem;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
