* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("./img/black-canyon-f1a1d991.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Oswald", sans-serif;
  flex-direction: column;
}
header {
  font-size: 3rem;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  align-items: center;
  font-family: "Oswald", sans-serif;
}
pre {
  font-family: "Oswald", sans-serif;
}
.task-list {
  position: absolute;
  height: 65vh;
  width: 60%;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  backdrop-filter: blur(5px);
  box-shadow: 55px;
}
#control-section {
  display: flex;
  margin: 1% 1%;
}
input {
  height: 2vh;
  width: 60%;
  margin: 1% auto;
  top: 25px;
  right: 0;
  left: 0;
  outline: none;
  border: none;
  padding: 20px;
  padding-right: 50px;
  font-family: "Oswald", sans-serif;
}

select {
  width: 30%;
  margin: 1% auto;
  right: 0;
  left: 0;
  border: none;
  font-family: "Oswald", sans-serif;
  text-align: center;
  text-align-last: center;
  -moz-text-align-last: center;
  color: #6d6d6d;
}

#add-button,
#sort-button,
#clear-button {
  background: white;
  color: #6d6d6d;
  border: none;
  padding: 1% 1%;
  cursor: pointer;
  font-size: 1rem;
  margin: 1% auto;
  outline: 0;
}

#add-button:hover,
#sort-button:hover,
#clear-button:hover,
button:hover {
  background: #6d6d6d;
  color: white;
}

.tasks-header {
  color: white;
  display: flex;
  margin-left: 10%;
  justify-content: space-between;
  width: 53%;
  font-size: 1.5rem;
  padding-bottom: 10vh;
  font-family: "Oswald", sans-serif;
}

#view-section {
  position: inherit;
  height: 73%;
  width: 100%;
  right: 0;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}
#view-section::-webkit-scrollbar {
  -webkit-appearance: none;
  appearance: none;
}
.todo-container {
  display: flex;
  height: fit-content;
  transition: 0.2s;
  margin: 5% 10%;
  padding: 1%;
  background: #fff;
  cursor: grab;
  border-radius: 2px;
  word-wrap: break-word;
  justify-content: space-between;
  align-items: center;
}

.todo-container:hover {
  transform: scale(1.1);
}
.todo-text,
.todo-created-at,
.todo-priority {
  flex: 1;
}
.trash-button,
.complete-button {
  background: white;
  color: #6d6d6d;
  border: none;
  padding: 1% 1%;
  cursor: pointer;
  font-size: 1rem;
  outline: 0;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
